


NET "a" LOC = P99;
NET "b" LOC = P98;
NET "c" LOC = P97;
NET "d" LOC = P96;
NET "e" LOC = P95;
NET "f" LOC = P93;
NET "g" LOC = P92;
NET "dp" LOC = P90;


NET "ENB1_0" LOC = P76;
NET "ENB1_1" LOC = P74;
NET "ENB1_2" LOC = P73;
NET "ENB1_3" LOC = P70;
NET "ENB1_4" LOC = P69;

NET "ENB2_0" LOC = P122;
NET "ENB2_1" LOC = P119;
NET "ENB2_2" LOC = P118;
NET "ENB2_3" LOC = P116;
NET "ENB2_4" LOC = P113;

NET "ENB3_0" LOC = P85;
NET "ENB3_1" LOC = P84;
NET "ENB3_2" LOC = P83;
NET "ENB3_3" LOC = P82;
NET "ENB3_4" LOC = P80;


NET "P1_H" LOC = P78;
NET "P1_S" LOC = P79;
NET "P2_H" LOC = P112;
NET "P2_S" LOC = P108;
NET "P3_H" LOC = P8;
NET "P3_S" LOC = P10;

#NET "P3_H" LOC = P112;
#NET "P3_S" LOC = P108;
#NET "P2_H" LOC = P11;
#NET "P2_S" LOC = P12;

NET "FASTCLK" LOC = P7;
NET "FASTCLK" CLOCK_DEDICATED_ROUTE = FALSE;


NET "CLK" LOC = P127;
NET "initSW" LOC = P11;
NET "CLRNEW" LOC = P12;

NET "LEDTURN0" LOC = P26;
NET "LEDTURN1" LOC = P27;
NET "LEDTURN2" LOC = P28;

NET "SCORE_a" LOC = P4;
NET "SCORE_b" LOC = P2;
NET "SCORE_c" LOC = P1;
NET "SCORE_d" LOC = P141;
NET "SCORE_e" LOC = P140;
NET "SCORE_f" LOC = P137;
NET "SCORE_g" LOC = P135;
NET "SCORE_E0" LOC = P5;
NET "SCORE_E1" LOC = P130;
NET "SCORE_E2" LOC = P6;
NET "SCORE_E3" LOC = P131;
